* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1100px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper {
  overflow: hidden;
}
.header {
  margin-top: 30px;
}
.logo_header {
  float: left;
  margin-right: 170px;
  padding: 10px 0 9px;
}
.nav_header {
  float: left;
  padding-top: 16 px;
}
.button_header button {
  float: right;
}
.menu_header {
  list-style: none;
}
.menu {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #696871;
  display: inline-block;
  margin-right: 50px;
}
.menu_header menu:last-child {
  margin-right: 0;
}
.menu a {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #696871;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 20px;
}
.button1 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 17px;
  width: 211px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background-color: #ff7143;
  border: none;
  border-radius: 10px;
}
.arrow {
  margin-top: 50px;
  margin-left: 20px;
  height: 60px;
  width: 60px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  color: #19191b;
  font-size: 40px;
  cursor: pointer;
}
.button1:hover {
  background-color: orange;
}

.button1:active {
  background-color: orange;
  transform: translateY(4px);
}
.container .wrapper h1 {
  float: left;
}
.container .wrapper h1 p {
  float: left;
}
.button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 17px;
  width: 211px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background-color: #5454d4;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
}
.img1 {
  position: absolute;
  width: 580px;
  height: 644px;
  left: 720px;
  top: 190px;
}
.subscription {
  margin-top: 160px;
  font-weight: bold;
  font-size: 80px;
  line-height: 77px;
  color: #19191b;
  width: 44%;
}
.subscription_p {
  width: 44%;
  font-size: 20px;
  line-height: 30px;
  margin-top: 50px;
}
.logo_firm {
}
.firm {
  float: left;
  margin-right: 90px;
  margin-top: 100px;
}
.container_logo {
  overflow: hidden;
}
.subscription_img {
  float: left;
  margin-left: 185px;
  margin-top: 165px;
}
.txt {
  float: right;
}
.container_subscription {
  overflow: hidden;
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  margin-top: 285px;
}
a {
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #5454d4;
  text-decoration: none;
}
p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  margin-top: 30px;
  margin-bottom: 30px;
}
.container_metrics {
  max-width: 1100px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}
.metrics_text {
  float: left;
  width: 50%;
}
.metrics_img {
  float: right;
  width: 50%;
  margin-top: 85px;
  padding-left: 65px;
}
.metrics_text p {
  width: 72%;
}
.metrics_text h2 {
  margin-top: 262px;
}
.bench {
  float: left;
  width: 33%;
  padding: 0 15px;
}
.bench_items {
  max-width: 1100px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}
h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.bench p {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.bench img {
  padding-left: 120px;
  padding-top: 150px;
  padding-bottom: 20px;
}

h3 {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
}
.plan {
  float: left;
}
.plan_button {
  float: right;
  width: 40%;
  text-align: right;
  padding-top: 45px;
}

.plan_button button:first-child {
  height: 60px;
  min-width: 160px;
  padding: 20px;
  border: none;
  background: #5454d4;
  border-radius: 10px 0px 0px 10px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.plan_button button {
  height: 60px;
  min-width: 160px;
  padding: 20px;
  border: none;
  background: #f7f7fb;
  border-radius: 0px 10px 10px 0px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #19191b;
  cursor: pointer;
}
.container_plan {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 80px;
}
.container {
  overflow: hidden;
}
.plan_text {
  width: 55%;
  float: left;
}
.price {
  float: left;
  background: #f8f8f8;
  border-radius: 10px;
  margin-right: 20px;
  background: #f8f8f8;
  border-radius: 10px;
  width: 31%;
}
.over_price {
  overflow: hidden;
  margin-bottom: 175px;
}
.price p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
}
.bellow_head {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 56px;
  text-align: center;
}
.head {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.bellow_head p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
}
span {
  font-size: 25px;
}
.price button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 17px;
  width: 225px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  color: #5454d4;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  margin-left: 55px;
  margin-bottom: 25px;
}
.txt p {
  width: 50%;
}
.price2 {
  float: left;
  background: #9f3919;
  border-radius: 10px;
  margin-right: 20px;
  background: #ff7143;
  border-radius: 10px;
  width: 31%;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}
.price2 button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 17px;
  width: 225px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background-color: #9f3919;
  border: none;
  border-radius: 10px;
  margin-left: 55px;
  margin-bottom: 25px;
}
.price2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
}
